@import "../../../../_main";

@include mq(pc) {
  .section {
    width: 1000px;
    margin: 0 auto;
    margin-top: 663px;
    div{
      display: flex;
      h2 {
        border-bottom: none;
        padding-bottom: 0;
        padding-right: 0;
        padding-left: 0;
        font-size: 22px;
      }
      ul {
        margin-left: 57px;
      }
    }
    p {
      text-align: right;
    }
  }
}
@include mq(sp) {
  .section {
    margin-top: 29px;
    > p {
      text-align: center;
      margin-top: 20px;
    }
  }
}