@import "../../../_main";
$adnime: all .5s ease-in-out;

@include mq(pc) {
  .root{
      display: flex;
      align-items: center;
      width: 1100px;
      height: 48px;
      margin: 0 auto;
      .logo {
        z-index: 100;
        a {
          padding: 0 0 0 12px;
          img {
            width: 174px;
          }
        }
      }
    .navi {
      width: 100%;
      z-index: 100;
    }
    .menu {
      display: flex;
      justify-content: flex-end;
      a {
        margin-right: 25px;
        display: block;
        font-size: 14px;
        line-height: 47px;
        letter-spacing: 0.05em;
        color: #656565;
      }
    }
    .item {
      margin-bottom: 0px;
    }
    .menuBtn {
      display: none;
    }
  }
}

@include mq(sp) {
  header.root {
    position: fixed;
    width: 100%;
    height: 48px;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 100;
    .logo {
      position: absolute;
      top: -2px;
      left: 9px;
      a {
        display: flex;
        align-items: center;
        padding: 12px 0px;
      }
      img {
        width: 119px;
      }
      span {
        padding-top: 3px;
        color: #fff;
        font-size: 10px;
        padding: 3px 0 0 5px;
      }
    }
  }
  .root{
  // メニュー
  .menu {
    position: fixed;
    top: 64px;
    width: 100%;
    background: #fff;
    border-top: 1px solid #242424;
    z-index: 100;
    margin: 0;
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: $adnime;
    li {
      display: block;
      border-bottom: 1px solid #242424;
      margin: 0;
      a {
        display: block;
        padding: 10px 12px 10px 28px;
        color: #242424;
        position: relative;
        font-family: inherit;
        font-size: 14px;
        letter-spacing: -0.6px;
        &:after {
          position: absolute;
          top: 50%;
          left: 10px;
          margin-top: -6px;
          content: "";
          width: 9px;
          height: 9px;
          border-top: 3px solid #242424;
          border-right: 3px solid #242424;
          transform: rotate(45deg);
        }
      }
    }
    &.select {
      visibility: visible;
      height: auto;
      max-height: 500px;
      transition: $adnime;
    }
  }
  // ハンバーガーメニュー
  .menuBtn {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    width: 64px;
    height: 64px;
    color: #fff;
    background: #fff;
    cursor: pointer;
    span {
      position: relative;
      top: 33px;
      left: 22px;
      display: block;
      width: 25px;
      height: 2px;
      background: #242424;
      transition: $adnime;
      &::before, &:after {
        position: relative;
        top: 32px;
        left: 23px;
        display: block;
        width: 25px;
        height: 2px;
        background: #242424;
        transition: $adnime;
      }
      &::before {
        content: "";
        top: -10px;
        left: 0;
      }
      &:after {
        content: "";
        top: 8px;
        left: 0;
      }
    }
    &.select {
      transition: $adnime;
      span {
        background: #fff;
        transition: $adnime;
        &::before, &:after {
          transition: $adnime;
        }
        &::before {
          top: 0px;
          transform: rotate(45deg);
        }
        &:after {
          top: -2px;
          transform: rotate(-45deg);
        }
      }
    }
  }
  }
  }