@import "../../../_main";
.root {
  .title {
    font-family: "Hiragino Sans";
    font-weight: 600;
    color: #242424;
  }
  .date {
    font-family: HiraginoSans-W3;
    color: #242424;
  }
  h2 {
    font-family: "Hiragino Sans";
    font-weight: 600;
    color: #242424;
  }
  .tagList {
    li {
      font-family: HiraginoSans-W3;
      color: #242424;
    }
  }
  .contents {
    h2 {
      font-family: "Hiragino Sans";
      font-weight: 600;
      color: #242424;
      text-align: center;
      position: relative;
    }
    h3 {
      font-family: HiraginoSans-W6;
      color: #242424;
    }
    p {
      font-family: HiraginoSans-W3;
    }
    td {
      font-family: HiraginoSans-W3;
      h2 {
        font-family: HiraginoSans-W6;
        color: #242424;
        &::after {
          content: none;
        }
      }
    }
  }
  .list {
    li {
      > .text {
        p {
          font-family: "Hiragino Sans";
          font-weight: 400;
        }
      }
    }
  }
}

@include mq(pc) {
  .sp {
    display: none;
  }
.root {
  .image {
    width: 1100px;
    margin: 0 auto;
    padding: 53px;
    text-align: center;
    background-color: #F6F6F6;
    img {
      max-width: 514px;
      max-height: 514px;
    }
  }
  .subtitle {
    text-align: center;
    margin: 60px 0 16px;
    font-size: 22.5px;
    line-height: 16px;
  }
  .title {
    font-size: 32px;
    letter-spacing: 0;
    text-align: center;
    line-height: 41.6px;
    margin-bottom: 12px;
  }
  .date {
    font-family: HiraginoSans-W3;
    font-size: 20px;
    letter-spacing: 0;
    text-align: center;
    line-height: 32px;
    margin-bottom: 20px;
  }

  h2 {
    font-family: "Hiragino Sans";
    font-weight: 500;
    font-size: 28.4px;
    letter-spacing: 0;
    line-height: 36.92px;
    text-align: center;
    position: relative;
  }
  .tagList {
    width: 640px;
    margin: 0 auto 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    li {
      width: 100px;
      height: 32px;
      border: 1px solid #242424;
      border-radius: 4px;
      border-radius: 4px;
      font-family: HiraginoSans-W3;
      font-size: 17.8px;
      color: #242424;
      letter-spacing: 0;
      text-align: center;
      margin: 10px 22px 0 0;
    }
  }
  .contents {
    width: 640px;
    margin: 60px auto;
    h2 {
      font-family: "Hiragino Sans";
      font-weight: 500;
      font-size: 20px;
      color: #242424;
      letter-spacing: 0;
      line-height: 36.92px;
      text-align: left;
      position: relative;
      margin-bottom: 20px;
    }
    h3 {
      font-family: HiraginoSans-W6;
      font-size: 20px;
      color: #242424;
      letter-spacing: 0;
      line-height: 32px;
      margin: 65px 0 26px;
    }
    p {
      width: 640px;
      font-family: HiraginoSans-W3;
      font-size: 14px;
      color: #242424;
      letter-spacing: 0;
      line-height: 1.8;
      > span {
        margin: 30px 0 50px;
      }
    }
    li {
      margin-bottom: 40px;
    }

    table {
      margin: 100px 0 142px;
      thead {
        height: 0;
        overflow: hidden;
        th {
          padding: 0;
          border: 0;
        }
      }
      tr {
        &:nth-child(odd) {
          td {
            &:first-child {
              padding: 8px 12px 41px 0px;
            }
            &:last-child {
              padding: 0 0 41px 12px;
            }
          }
        }
        &:nth-child(even) {
          td {
            &:first-child {
              padding: 0 12px 41px 0;
            }
            &:last-child {
              padding: 8px 0px 41px 12px;
            }
          }
        }
      }
      td {
        width: 50%;
        font-family: HiraginoSans-W3;
        font-size: 20px;
        color: #242424;
        letter-spacing: 0;
        line-height: 32px;
        padding: 0 0 25px;
        vertical-align: top;
        border: 0;
        span {
          height: 205px;
          width: 100%;
          img {
            top: 50% !important;
            left: 50% !important;
            transform: translate(-50%, -50%);
          }
        }
        h2 {
          font-size: 20px;
          text-align: left;
          margin-bottom: 6px;
        }
      }
    }
  }
  .productTitle {
    margin-top: 120px;
    margin-bottom: 56px;
    padding-bottom: 16px;
    &::after {
      content:"";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 84px;
      height: 1px;
      background-color: #9F9F9F;
    }
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    width: 1100px;
    li:nth-child(odd){
      margin-right: 4px;
    }
    li:nth-child(even){
      margin-left: 4px;
    }
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 4px 0;
      padding: 48px;
      background-color: #F6F6F6;
      max-height: 546px;
      max-width: 546px;
      width: 50%;
      > div {
        position: relative;
      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        height: 546px;
        width: 546px;
        transition: width 0.3s, height 0.3s, position 0.3s;
        &:hover {
          position: absolute;
          top:50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 605px;
          height: 605px;
          z-index: 100;
          transition: width 0.3s, height 0.3s, position 0.3s;
          box-shadow: -4px 3px 5px 0px rgba(0, 0, 0, 0.4);
          &:after {
            content: "";
            background: rgba(0,0,0,0.60);
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 200;
            top: 0;
            left: 0;
          }
          > .text {
            z-index: 300;
          }
          .image > img {
            transition-duration: 0.5s;
            transform: scale(1.1, 1.1);
          }
        }
        > .text {
          position: absolute;
          z-index: -100;
          top:50%;
          left: 50%;
          transform: translate(-50%, -50%);
          white-space: nowrap;
          p {
            font-family: "Hiragino Sans";
            font-weight: 400;
            font-size: 25.32px;
            color: #FFFFFF;
            letter-spacing: 0;
            text-align: center;
            line-height: 37.95px;
          }
        }
      }
      img {
        object-fit: cover;
        max-height: 450px;
        max-width: 450px;
      }
    }
  }
}
}
@include mq(sp) {
  .pc {
    display: none;
  }
.root {
  margin-top: 48px;
  .image {
    display: flex;
    padding: 24px;
    background-color: #E3E3E3;
    img {
      margin: auto;
      max-width: 296px;
      max-height: 296px;
    }
  }
  h2 {
    text-align: center;
    margin: 60px 0 0;
    font-size: 16px;
    line-height: 16px;
  }
  h1 {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.6px;
  }
  .date {
    text-align: center;
    margin-top: 5px;
    font-size: 12px;
  }
  .tagList {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
    li {
      width: 100px;
      border: 1px solid #242424;
      border-radius: 4px;
      border-radius: 4px;
      font-size: 14px;
      color: #242424;
      letter-spacing: 0;
      text-align: center;
      margin: 10px 22px 0 0;
      padding: 5px 0;
    }
  }
  .contents {
    margin-top: 31px;
    margin-bottom: 60px;
    h2 {
      font-size: 18px;
      margin: 40px 0 20.2px;
      padding: 0 24px;
      letter-spacing: -1px;
      line-height: 1.6;
      text-align: left;
    }
    p {
      padding: 0 24px;
      min-width: 180px;
      font-size: 14px;
      line-height: 1.38;
    }
    div {
      max-width: 414px;
      max-height: 414px;
      margin-top: 24px;
      padding: 24px;
      background-color: #F6F6F6;
      text-align: center;
    }
    img {
      max-width: 296px;
      max-height: 296px;
    }
    .image {
      padding: 24px 0;
    }
    h3 {
      font-size: 21px;
      letter-spacing: -0.9px;
      margin-bottom: 24px;
    }
    table {
      margin: 80px 0 0;
      thead {
        height: 0;
        overflow: hidden;
        th {
          padding: 0;
          border: 0;
        }
      }
      tr {
          &:nth-child(odd) {
            display: flex;
            flex-wrap: wrap-reverse;
            td {
              &:last-child {
                margin: 35px 0 30px;
              }
            }
          }
          &:nth-child(even) {
            td {
              &:first-child {
                margin: 35px 0 30px;
              }
            }
          }
          &:first-child {
            td {
              &:last-child {
                margin: 0 0 30px;
              }
            }
          }
      }
      td {
        width: 100%;
        font-family: HiraginoSans-W3;
        line-height: 1.38;
        display: block;
        font-size: 16px;
        color: #242424;
        letter-spacing: 0;
        padding:0;
        border: 0;
        span {
          height: 205px;
          width: 100%;
        }
        h2 {
          font-size: 12.8px;
          text-align: left;
          padding: 45px 0 18px;
          margin: 0;
        }
      }
    }
  }
  .productTitle {
    font-size: 21px;
    padding-bottom: 19px;
    margin-top: 80px;
    margin-bottom: 65px;
    letter-spacing: -1px;
    text-align: center;
    position: relative;
    &::after {
      content:"";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 84px;
      height: 1px;
      background-color: #9F9F9F;
    }
  }
  .list {
    li:nth-child(n + 3) {
      display: none;
    }
    li {
      margin-bottom: 8px;
      padding: 8px;
      background-color: #E3E3E3;
      .image {
        display: flex;
        padding: 24px;
        width: 100%;
        background-color: #E3E3E3;
        img {
          margin: auto;
          max-height: 296px;
          max-width: 296px;
        }
      }
      .text {
        text-align: center;
        padding-top: 20px;
        p {
          color: #242424;
          &:first-child {
            margin: 0 0 5px;
            font-size: 17px;
            letter-spacing: -0.5px;
          }
        }
      }
    }
  }
}
}