@import "../../../_main";
.root {
  .title {
    font-family: HiraginoSans-W5;
    font-weight: normal;
    color: #242424;
  }
  .date {
    font-family: HiraginoSans-W3;
    color: #242424;
  }
  h2 {
    font-family: HiraginoSans-W5;
    font-weight: normal;
    color: #242424;
  }
  .tagList {
    li {
      font-family: HiraginoSans-W3;
      color: #242424;
    }
  }
  .contents {
    h2 {
      font-family: HiraginoSans-W5;
      font-weight: normal;
      color: #242424;
      text-align: center;
      position: relative;
      padding-bottom: 16px;
      &::after {
        content:"";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 84px;
        height: 1px;
        background-color: #9F9F9F;
      }
    }
    h3 {
      font-family: HiraginoSans-W6;
      color: #242424;
    }
    p {
      font-family: HiraginoSans-W3;
    }
    td {
      font-family: HiraginoSans-W3;
      h2 {
        font-family: HiraginoSans-W6;
        font-weight: normal;
        color: #242424;
        &::after {
          content: none;
        }
      }
    }
  }
  .list {
    li {
      > .text {
        p {
          font-family: HiraginoSans-W4;
          &:last-child {
            font-family: HiraginoSans-W3;
            span {
              &::after {
                content: "/";
                margin: 0 5px;
              }
              &:last-child {
                &::after {
                  content:"";
                }
              }
            }
          }
        }
      }
    }
  }
}

@include mq(pc) {
  .sp {
    display: none;
  }
.root {
  .image {
    width: 1100px;
    margin: 0 auto 71px;
    img {
      width: 100%;
    }
  }
  .title {
    font-size: 32px;
    letter-spacing: 0;
    text-align: center;
    line-height: 41.6px;
    margin-bottom: 12px;
  }
  .date {
    font-family: HiraginoSans-W3;
    font-size: 20px;
    letter-spacing: 0;
    text-align: center;
    line-height: 32px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-family: HiraginoSans-W5;
    font-size: 28.4px;
    letter-spacing: 0;
    line-height: 36.92px;
    text-align: center;
    position: relative;
    padding-bottom: 16px;
    &::after {
      content:"";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 84px;
      height: 1px;
      background-color: #9F9F9F;
    }
  }
  .tagList {
    width: 640px;
    margin: 0 auto 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    li {
      width: 100px;
      height: 32px;
      border: 1px solid #242424;
      border-radius: 4px;
      border-radius: 4px;
      font-family: HiraginoSans-W3;
      font-size: 17.8px;
      color: #242424;
      letter-spacing: 0;
      text-align: center;
      margin: 10px 22px 0 0;
    }
  }
  .contents {
    width: 640px;
    margin: 0 auto 153px;
    h2 {
      font-family: HiraginoSans-W5;
      font-size: 28.4px;
      color: #242424;
      letter-spacing: 0;
      line-height: 36.92px;
      text-align: center;
      position: relative;
      padding-bottom: 16px;
      &::after {
        content:"";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 84px;
        height: 1px;
        background-color: #9F9F9F;
      }
    }
    h3 {
      font-family: HiraginoSans-W6;
      font-size: 20px;
      color: #242424;
      letter-spacing: 0;
      line-height: 32px;
      margin: 65px 0 26px;
    }
    p {
      font-family: HiraginoSans-W3;
      font-size: 17.8px;
      color: #242424;
      letter-spacing: 0;
      line-height: 1.8;
      > span {
        margin: 83px 0 170px;
      }
    }
    table {
      margin: 100px 0 142px;
      thead {
        height: 0;
        overflow: hidden;
        th {
          padding: 0;
          border: 0;
        }
      }
      tr {
        &:nth-child(odd) {
          td {
            &:first-child {
              padding: 8px 12px 41px 0px;
            }
            &:last-child {
              padding: 0 0 41px 12px;
            }
          }
        }
        &:nth-child(even) {
          td {
            &:first-child {
              padding: 0 12px 41px 0;
            }
            &:last-child {
              padding: 8px 0px 41px 12px;
            }
          }
        }
      }
      td {
        width: 50%;
        font-family: HiraginoSans-W3;
        font-size: 20px;
        color: #242424;
        letter-spacing: 0;
        line-height: 32px;
        padding: 0 0 25px;
        vertical-align: top;
        border: 0;
        span {
          height: 205px;
          width: 100%;
          img {
            top: 50% !important;
            left: 50% !important;
            transform: translate(-50%, -50%);
          }
        }
        h2 {
          font-size: 20px;
          text-align: left;
          margin-bottom: 6px;
        }
      }
    }
  }
  .productTitle {
    margin-bottom: 56px;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    width: 1100px;
    li {
      width: 550px;
      height: 550px;
      position: relative;
      margin: 0;
      a {
        position: relative;
        overflow: hidden;
        display: block;
        width: 550px;
        height: 550px;
        transition: width 0.3s, height 0.3s, position 0.3s;
        &:hover {
          position: absolute;
          top:50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 605px;
          height: 605px;
          z-index: 100;
          transition: width 0.3s, height 0.3s, position 0.3s;
          box-shadow: -4px 3px 5px 0px rgba(0, 0, 0, 0.4);
          &:after {
            content: "";
            background: rgba(0,0,0,0.60);
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 200;
            top: 0;
            left: 0;
          }
          > .text {
            z-index: 300;
          }
        }
        > .text {
          position: absolute;
          z-index: -100;
          top:50%;
          left: 50%;
          transform: translate(-50%, -50%);
          p {
            font-family: HiraginoSans-W4;
            font-size: 25.32px;
            color: #FFFFFF;
            letter-spacing: 0;
            text-align: center;
            line-height: 37.95px;
            &:last-child {
              font-family: HiraginoSans-W3;
              font-size: 17.8px;
              margin-top: 13px;
              span {
                &::after {
                  content: "/";
                  margin: 0 5px;
                }
                &:last-child {
                  &::after {
                    content:"";
                  }
                }
              }
            }
          }
        }
      }
      img {
        min-height: 100%;
        min-width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
}
@include mq(sp) {
  .pc {
    display: none;
  }
.root {
  margin-top: 64px;
  h1 {
    text-align: center;
    margin-top: 52px;
    font-size: 23px;
    letter-spacing: 0.6px;
  }
  .date {
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
  }
  .tagList {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
    li {
      width: 100px;
      border: 1px solid #242424;
      border-radius: 4px;
      border-radius: 4px;
      font-size: 14px;
      color: #242424;
      letter-spacing: 0;
      text-align: center;
      margin: 10px 22px 0 0;
      padding: 5px 0;
    }
  }
  .contents {
    margin-top: 31px;
    padding: 0 24px;
    p {
      line-height: 1.38;
      margin-bottom: 50px;
    }
    h2 {
      font-size: 25px;
      margin: 118px 0 54px;
      padding-bottom: 19px;
      letter-spacing: -1px;
      font-weight: normal;
    }
    h3 {
      font-size: 21px;
      letter-spacing: -0.9px;
      margin-bottom: 24px;
      font-weight: normal;
    }
    table {
      margin: 80px 0 0;
      thead {
        height: 0;
        overflow: hidden;
        th {
          padding: 0;
          border: 0;
        }
      }
      tr {
          &:nth-child(odd) {
            display: flex;
            flex-wrap: wrap-reverse;
            td {
              &:last-child {
                margin: 35px 0 30px;
              }
            }
          }
          &:nth-child(even) {
            td {
              &:first-child {
                margin: 35px 0 30px;
              }
            }
          }
          &:first-child {
            td {
              &:last-child {
                margin: 0 0 30px;
              }
            }
          }
      }
      td {
        width: 100%;
        font-family: HiraginoSans-W3;
        line-height: 1.38;
        display: block;
        font-size: 16px;
        color: #242424;
        letter-spacing: 0;
        padding:0;
        border: 0;
        span {
          height: 205px;
          width: 100%;
        }
        h2 {
          font-size: 12.8px;
          text-align: left;
          padding: 45px 0 18px;
          margin: 0;
        }
      }
    }
  }
  .productTitle {
    font-size: 25px;
    padding-bottom: 19px;
    margin-bottom: 40px;
    letter-spacing: -1px;
    text-align: center;
    position: relative;
    font-weight: normal;
    &::after {
      content:"";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 84px;
      height: 1px;
      background-color: #9F9F9F;
    }
  }
  .list {
    li {
      width: 100%;
      margin-bottom: 47px;
      .image {
        display: block;
        height: 276px;
        overflow: hidden;
        position: relative;
        img {
          width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .text {
        text-align: center;
        padding-top: 20px;
        p {
          color: #242424;
          &:first-child {
            margin: 0 0 5px;
            font-size: 17px;
            letter-spacing: -0.5px;
          }
          &:last-child {
            font-size: 12px;
            letter-spacing: -0.5px;
          }
        }
      }
    }
  }
}
}