@import "../../../_main";
@include mq(pc) {
  .sp {
    display: none;
  }
.galleryList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
}
@include mq(sp) {
  .pc {
    display: none;
  }
}